/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body{
    font-family: 'Roboto', sans-serif;
    
}

.container{
    width: 80%;
    margin: 0 auto;
}
.main-container{
    width: 70%;
    margin: 0 auto;
}

.flex-container{
    display: flex;
}

img{
    width: 100%;
}

.btn-large{
    background-color: #0061ff;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
}

.btn-small{
    color: black;
    text-decoration: none;
}

.btn-free-trial{
    background-color: #0061ff;
    color: white;
    text-decoration: none;
    margin-top: 30px;
    margin-bottom: 20px;
    display: inline-block;
    padding: 7px 45px;
    font-size: 15px;
}

/* Header */
header{
    background-color: aquamarine;
    padding: 20px;
}

header ul li{
    padding-right: 50px;
}

ul li{
    list-style-type: none;
}

li a{
    text-decoration: none;
    color: black; 
}

.menu{
    align-items: center;
}

.login{
    align-items: center;
}

.all-menu{
    justify-content: space-between;
}

/* Main */

/* Section jumbotron */
.jumbotron{
    padding-top: 10px;
    background-color: #b4d0e7;
}

h1{
    font-size: 75px;
}

.jumbotron-colums .narrow-col{
    width: 31%;

}

.jumbotron-colums .large-col{
    width: 69%;

}

.jumbotron-colums .narrow-col p{
    padding-top: 50px;
    padding-bottom: 30px;

}

.jumbotron-colums .narrow-col div{
    font-size: 14px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.jumbotron-colums .narrow-col span{
    display: inline-block;
    font-size: 40px;
    padding-top: 20px;
}

.jumbotron-colums .large-col img{
    width: 100%;
    position: relative;
    top: 55px;
    left: 20px;
}
/* End Section Jumbotron */

/* Section Plans Dropbox */
.plans-dropbox{
    padding-top: 120px;
}

h2{
    font-size: 43px;
    
}

.circle-selected{
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 10px;
    border: 6px solid #0061ff;;
}

.circle{
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 10px;
    border: 1px solid lightslategray;

}

.annual, .monthly{
    vertical-align: middle;
    display: inline-block;
    padding-right: 20px;
    padding-top: 40px;
}

.all-plans{
    justify-content: space-between;
    padding: 30px 0

}

.col{
    width: calc((100% / 3) - 42px);

}

.card{
    border: 1px solid lightgray;

}

.category{
    text-align: center;
    border-bottom: 1px solid lightgray;
    padding: 10px 0;
}

.text-plan{
    padding-top: 30px;
    padding-left: 25px;
    padding-right: 20px;
    height: 1000px;

}

h3{
    font-size: 30px;
}

.user{
    padding: 0 5px;
}

.price{
    padding-top: 20px;
    padding-bottom: 10px;
    font-weight: bold;
}

.duration{
    font-size: 15px;
    color: #8e9aa4;
    padding-bottom: 30px;
}

.list-advance li{
    font-size: 15px;
    padding-top: 20px;
}

.link-buy{
    font-size: 15px;

}

.link-buy a{
    color: #307eff;
}

hr{
    width: 50px;
    margin-top: 30px;
    margin-bottom: 40px;
}

h4{
    font-size: 18px;
}

.important-points li{
    padding: 15px 0;
    font-size: 15px;
}

.check{
    color: #0262ff;
}

.column{
    width: 100%;
}

.enterprise{
    justify-content: space-between;
}

/*Contact Area content  */
.contact-area-content{
    padding: 25px;
}

.btn-contact{
    background-color: #0061ff;
    color: white;
    text-decoration: none;
    padding: 7px 70px;
    font-size: 15px;

}

.contact-area-content h4{ 
    padding-top: 20px;
    padding-bottom: 30px;
}

.contact-area-content :last-child{
    font-size: 15px;
}
/* End Section Dropbox */

/* Section Partener Contact */

.partner-contact{
    padding-top: 120px;
}

.partner-contact .narrow-col{
    width: 40%;
    padding-top: 30px;
    padding-left: 25px;

}

.partner-contact .large-col{
    width: 60%;
}

.partner-contact h3{
    font-size: 26px;
    padding-bottom: 30px;
}
.partner-contact p{
    line-height: 25px;
    margin-bottom: 25px;
}

.btn-partner{
    border: 2px solid black;
    color: black;
    text-decoration: none;
    padding: 7px 22px;

}
/* End Section Parter contact */

/* Section Dropbox operations */

.dropbox-operations h2{
    padding-top: 100px;
    padding-bottom: 50px;
}

.all-operations{
    justify-content: space-between;
    flex-wrap: wrap;
}


.all-operations .card{
    border: none;
    padding-bottom: 100px;
}

/* End Section Dropbox operations */

/* Section Partners */

.partners a{
    color: #307eff;
    padding: 20px 0;
    display: inline-block;
}

.partners-container{
    padding-top: 20px;
}

.partners-logo{
   
    width: 400px;
    flex-shrink: 0;
    flex-wrap: wrap;
    
}

.partners-text{
    background-color: bisque;
    flex-grow: 1;
    padding: 50px;

}

.partners-box{
    width: 200px;
    height: 200px;
    background-color: pink;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
}

.partners-box img{
    width: 150px;
    filter: invert(1);

}

.partners-text img{
    width: 150px;
}

.partners-text :last-child{
    padding-top: 50px;
}

/* End Section Partners */

/* Section Dropbox trial */

.dropbox-trial{
    background-color: #b4d0e7;
    height: 300px;
}

.dropbox-trial div{
    justify-content: space-between;
    align-items: center;
    
}

.dropbox-trial h2{
    color: #61082b;
}

.btn-trial{
    background-color: white;
    color: black;
    text-decoration: none;
    padding: 7px 70px;
    font-size: 15px;
    margin-bottom: 60px;

}

/* End Section Dropbox trial */

/* Section Frequent Questions */